// Here you can add other styles
.border-error{
    border:2px solid red;
}
.postion-rel{
    position:relative;
}
.position-abs{
    position:absolute;
    left:40px;
    bottom:-15px;
}
.text-danger{
    font-size:12px;
}
.text-primary{
    text-decoration: none;
    color:white;
}
.b-shadow{
    box-shadow: 0 0 3px 0 rgba($color: rgb(152, 153, 153), $alpha: .5);
}